header {              
    padding: 40px;
    color: black;
    background-color: rgb(214, 171, 115);
    text-decoration: underline;
}
footer {
    color: black;
    position: relative;
    width: 100%;
    text-align: right;
    padding: 5px;
    margin-top: 60px;
   
}
h1.header {
    padding: 0;
    margin: 0;
}
aside {
    display:inline;
    width: 5px;
    font-size: large;
    margin: 5px;
}
section {
    float: left;
    margin: 0px, 5px;
    font-size: 17px;
}
ul {
    float: left;
    width: 40em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    float:left;
    width: 125px;
    color: black;
    font-size: larger;
    background-color: bisque;
    padding: 20em,20em;
    border-right: 0em white;
}
a.link {
    background-color: rgba(255, 237, 178, 0.877);
    color: darkred;
    font-style: oblique;
    float: inherit;
}
a.active {
    border-bottom: 3px solid rgb(248, 93, 127);
}
a.hover{ background-color: beige;}
body.color{
    background-color:rgba(255, 237, 178, 0.877);
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; 
}
li.szam{
    font-size: large;
    font-weight: bold;
}
img.floating-im {
    width: 300px;
    float: right;
    border: 3px solid gray;
}
img.flo{
    width: 400px;
    float: right;
    border: 3px solid gray;
}
img.float {
    width: 100px;
    float: right;
    border: 3px solid gray;
}
img.tortak
{
    width: 250px;
}
p.st{
    text-decoration: underline;
    font: 20px;
    font-weight: bold;
}
.kiemeles
{
    background-color: rgb(252, 244, 217);
    padding: 10px;
    border: dotted 0.5px;
    margin: 3px;
    width: 30%;
}

.proba
{
    background-color: rgb(245, 238, 199);
        width: 180px;
        height: 200px;
        display: inline-block;
        margin: 5px;
        border: solid 1px;
        padding: 5px;
        box-sizing: border-box;
}